div.zhihu-login
    div.zhihu-login-vertical
        div.zhihu-header
            h1.logo 知乎
            h2.subtitle 与世界分享你的知识、经验和见解
        div.group-inputs
            div.account
                input(
                    type='text'
                    name='account'
                    placeholder='手机号或邮箱'
                    v-model='account'
                    )
            div.password
                input(
                    type='password'
                    name='password'
                    placeholder='密码'
                    v-model='password'
                    )
            div.captcha
                input(
                    type='text'
                    name='captcha'
                    placeholder='验证码'
                    v-model='captcha'
                    )
                img(v-bind:src="captcha_img" alt='验证码')
        div.command
            button(
                type='button'
                class='submit pointer'
                v-on:click='submit'
                ) 登录
